.layer-name{
  float: right;
  padding: 5px 9px;
  color: #FFF;
}

.spy{
  margin: 12px;
  min-height: 36px;
  clear: both;
  display: block;
  text-transform: lowercase;
  font-size: 14px;
}
img{
  max-width: 100%;
}

*{
  background: none
}